header {
    /* position: -webkit-sticky;
    position: sticky; */
    position: fixed;
    top: 0;
    height: 1.45rem;
    width: 100vw;
    background-color: rgb(108, 151, 185);
    overflow: hidden;
    color: white;
    text-align: center;
    line-height: 1;
    font-weight: 600;
    /* box-shadow: ; */
}
header h1 {
    font-size: .4rem;
    margin-top: .3rem;
}

header p {
    font-size: .35rem;
    margin-top: .18rem;
}
